@model IEnumerable<JunaidAcademy.Models.CourseAssign>

@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="row"  style="margin-top: 50px;">
    @if(Model.Any(x=> x.Status == "Pending"))
            {
        <div class="alert alert-danger my-3 mx-2" style="width: 100%;">Please Pay your dues to get your Course Status Active</div>
            }
        <div class="table col-12">
            <h2>Enrolled Courses</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="table-active" scope="col"></th>
                        <th class="table-active" scope="col">@Html.DisplayNameFor(model => model.Course.CourseName)</th>
                        <th class="table-active" scope="col">Teacher</th>
                        <th class="table-active" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.Status == "Pending")
                            {
                                <td class="table-warning" scope="row">@i</td>
                                <td class="table-warning">@Html.DisplayFor(modelItem => item.Course.CourseName)</td>
                                <td class="table-warning">@Html.DisplayFor(modelItem => item.Course.Teacher.TName)</td>
                                <td class="table-warning">@Html.DisplayFor(modelItem => item.Status)</td>
                            }
                            @if (item.Status == "Active")
                            {
                                <td class="table-info" scope="row">@i</td>
                                <td class="table-info">@Html.DisplayFor(modelItem => item.Course.CourseName)</td>
                                <td class="table-info">@Html.DisplayFor(modelItem => item.Course.Teacher.TName)</td>
                                <td class="table-info">@Html.DisplayFor(modelItem => item.Status)</td>
                            }
                            @if (item.Status == "Completed")
                            {
                                <td class="table-success" scope="row">@i</td>
                                <td class="table-success">@Html.DisplayFor(modelItem => item.Course.CourseName)</td>
                                <td class="table-success">@Html.DisplayFor(modelItem => item.Course.Teacher.TName)</td>
                                <td class="table-success">@Html.DisplayFor(modelItem => item.Status)</td>
                            }
                        </tr>
                        @(i++)
                    }

                </tbody>
            </table>
            <div class="btn"><form action="#" style="margin: auto;"><button class="comment_button trans_200 enroll_btn"><a href="@Url.Action("Courses","Home")" class="text-white">Enroll Another Course</a></button></form></div>

        </div>

    </div>
</div>
<div class="spacer"></div>
